body {
    font-family: "Arial, sans-serif";
    background-color: cornflowerblue;
}
ul{
    list-style-type: none;
}
li{
}
h1{
    horiz-align: center;
    text-align: center;
    font-family: Impact, fantasy;
}
h2{
    margin-left: 50px;
    font-family: Impact, fantasy;
}
h3{}
h4 {
    horiz-align: center;
    text-align: center;
    border: 2px solid blue;
}
form{
    horiz-align: center;
    border: 2px solid darkviolet;
}
.character{
    border: 2px solid yellow;

}
.student{
    display: block;
    float: left;
    width: 15%;
    height: 320px;
    line-height: 15px;
    margin: px;
    padding-right: 15px;
    text-align: center;
    background-color: #b7d4ff;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
}
.chback{
    width: 120px;
    border: 2px solid red;
    margin: 5px;
    border-radius: 10px;
}
.chsubmit {
    width: 120px;
    border: 2px solid green;
    margin: 5px;
    border-radius: 10px;
}
input[type=range]{
}
.studentli {
    horiz-align: center;
    text-align: center;
}