body{
    font-family: 'Roboto', sans-serif;
    background-color: azure;
    width: 1300px;
    height: 100%;
}
header{
    height: 50px;
}
.container-main {
    height: 50px;
}
.background{
    position: absolute;
    top: 6px;
    left: -50px;
    width: 970px;
    height: 35px;
    margin-top: 2px;
    background-color: #0795B0;
    transform: matrix(1, 0, 1, 1, 0, 0);
}
.list-name{
    display: inline-block;
    position: relative;
    top: -22px;
    left: -75px;
}
.btn-add{
    background-color: mediumseagreen;
    position: relative;
    float: left;
    top: 5px;
    left: -115px;
    height: 25px;
    width: 80px;
    margin-right: 25px;
    border: none;
}
.btn-delete{
    background-color: #B0001C;
    position: relative;
    float: left;
    top: 5px;
    left: -116px;
    height: 25px;
    width: 80px;
    margin-right: 10%;
    border: none;
}
.container-list-name{
    position: relative;
    box-sizing: border-box;
    width: 900px;
    margin-left: 115px;
    margin-right: 700px;
    text-align: center;
    margin-bottom: -35px;
    z-index: 10;
}
.in_list{
    position: relative;
    float: left;
    text-align: center;
    width: 40%;
}
.not_in_list{
    position: relative;
    float: right;
    text-align: center;
    width: 40%;
}
.form_students{
    border: 2px solid #0795B0;
}

.btn_in{
    position: absolute;
    top: 150px;
    left: 630px;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
}
.btn_in:focus{
    outline: transparent;
}
.btn_out{
    position: absolute;
    top: 250px;
    left: 630px;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
}
.btn_out:focus{
    outline: none;
}
.arrow_in{
    position: absolute;
    top: 105px;
    left: 600px;
    margin: 40px auto;
    border: 40px solid;
    border-color: transparent #0795B0 transparent transparent;
}
.arrow_out{
    position: absolute;
    top: 205px;
    left: 640px;
    margin: 40px auto;
    border: 40px solid;
    border-color: transparent transparent transparent #0795B0;
}
.class-var{
    position: absolute;
    top: 43px;
    right: 300px;
    margin: -30px 10px 50px 220px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: #0795B0;
    font-weight: bold;
}
.button_back{
    text-align: center;
    background-color: goldenrod;
    position: relative;
    top: -50px;
    left: -320px;
    height: 33px;
    width: 85px;
    margin-right: 20px;
    border: none;
}