body{
    font-family: 'Roboto', sans-serif;
    background-color: azure;
    width: 1300px;
    height: 100%;
}
.background{
    position: absolute;
    top: 20px;
    left: -50px;
    width: 970px;
    height: 35px;
    margin-top: 2px;
    background-color: #0795B0;
    transform: matrix(1, 0, 1, 1, 0, 0);
}
.container-main{
    height: 200px;
}
.container-list-name{
    position: relative;
    box-sizing: border-box;
    width: 900px;
    margin-left: 100px;
    margin-right: 700px;
    text-align: center;
    margin-bottom: -35px;
    z-index: 10;
}
.container-students{
    margin: 50px 10px 20px 10px;
}
.class-name{
    position: relative;
    float: left;
    box-sizing: content-box;
    min-width: 200px;
    max-width: 250px;
    min-height: 250px;
    border: 2px solid #0795B0;
    margin: 5px;
}
.class-number{
    margin: 10px;
}