body{
    font-family: 'Roboto', sans-serif;
    background-color: azure;
    width: 1300px;
    height: 100%;
}
header{
    height: 50px;
}
.container-main {
    height: 50px;
}
.background{
    position: absolute;
    top: 6px;
    left: -50px;
    width: 970px;
    height: 35px;
    margin-top: 2px;
    background-color: #0795B0;
    transform: matrix(1, 0, 1, 1, 0, 0);
}
.list-name{
    display: inline-block;
    position: relative;
    top: -21px;
    left: 400px;
}
.label-border1{
    margin: 0px 0px 10px 130px;
    font-size: 30px;
    font-weight: bold;
}
.border-middle{
    margin: 0px 0px 50px 100px;
    border-collapse: collapse;
    border: 2px solid #0795B0;
}