body {
    background: azure;
}
.container-main{
    height: 200px;
}
.background{
    position: absolute;
    top: 20px;
    left: -50px;
    width: 970px;
    height: 35px;
    margin-top: 2px;
    background-color: mediumseagreen;
    transform: matrix(1, 0, 1, 1, 0, 0);
}
.container-stu-name{
    position: relative;
    box-sizing: border-box;
    width: 900px;
    margin-left: 100px;
    margin-right: 700px;
    text-align: center;
    margin-bottom: -35px;
    z-index: 10;
}
.student-name{
    position: relative;
    left: 45px;
}
.container-characteristic{
    position: relative;
    float: left;
    text-align: center;
    height: 490px;
    width: 800px;
    margin-left: 200px;
}
.runner-label{
    position: relative;
    top: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.container-runner{
    border: 2px solid mediumseagreen;
    z-index: 10;
    margin: 20px;
    padding: 10px;
    height: 120px;
}
.opis1{
    margin: 10px;
    padding: 10px ;
    display: block;
    position: absolute;
    top: 45px;
    height: 60px;
    width: 205px;
}
.opis2{
    margin: 10px;
    padding: 10px ;
    display: block;
    position: absolute;
    top: 45px;
    left: 520px;
    height: 60px;
    width: 205px;
}
.opis3{
    margin: 10px;
    padding: 10px ;
    display: block;
    position: absolute;
    top: 195px;
    height: 60px;
    width: 205px;
}
.opis4{
    margin: 10px;
    padding: 10px ;
    display: block;
    position: absolute;
    top: 215px;
    left: 520px;
    height: 60px;
    width: 205px;
}
.opis5{
    margin: 10px;
    padding: 10px ;
    display: block;
    position: absolute;
    top: 360px;
    height: 60px;
    width: 205px;
}
.opis6{
    margin: 10px;
    padding: 10px ;
    display: block;
    position: absolute;
    top: 375px;
    left: 520px;
    height: 60px;
    width: 205px;
}
.opis7{
    margin: 10px;
    padding: 10px ;
    display: block;
    position: absolute;
    top: 555px;
    height: 60px;
    width: 205px;
}
.opis8{
    margin: 10px;
    padding: 10px ;
    display: block;
    position: absolute;
    top: 545px;
    left: 520px;
    height: 60px;
    width: 205px;
}
.runner{
    position: relative;
    top: 25px;
    width: 200px;
    margin-left: 265px;
}
.result{
    position: relative;
    top: 40px;
    width: 200px;
}
.runner-output{
    position: relative;
    top: 40px;
}
.list-btns{;
}
.btnsubmit{
    z-index: 10;
    position: relative;
    left: 800px;
    top: -600px;
    border: 1px solid #b7d4ff;
    background: linear-gradient(to bottom,white 0%, darkseagreen 60%);
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: 25px 0px 5px 20px;
}
.btnsubmit:hover {
    background: linear-gradient(to bottom,white 0%, lightseagreen 60%);
}
.btnback{
    z-index: 10;
    position: relative;
    left: 780px;
    top: -500px;
    border: 1px solid #b7d4ff;
    background: linear-gradient(to bottom,white 0%, darkred 60%);
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: 20px 30px 10px 40px;
}
.btnback:hover {
    background: linear-gradient(to bottom,white 0%, crimson 60%);
}
.btnnext{
    z-index: 10;
    position: relative;
    left: 780px;
    top: -400px;
    border: 1px solid #b7d4ff;
    background: linear-gradient(to bottom,white 0%, darkgoldenrod 60%);
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: 20px 30px 10px 40px;
}
.btnnext:hover {
    background: linear-gradient(to bottom,white 0%, goldenrod 60%);
}
.btn{
    position: absolute;
}